.container {
    display: flex;
}

.listing {
    background: black;
    padding: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.logo {
    background: black;
    height: 5vw;
    width: 18vw;
    padding: 0.2rem;
    margin: 2px;
    text-align: center;
}


